<section class="modal_view size_middle">
	<div role="dialog" id="add_memo" aria-modal="true" aria-labelledby="add_memo_title" class="appear">
		<div class="modal_layout">
			<header>
				<button class="icon only unstyled close" title="Masquer cette fenêtre" aria-label="Masquer cette fenêtre">
					<svg>
						<use href="../static/icons/endi.svg#times"></use>
					</svg>
				</button>
				<h2 id="add_memo_title">
					{{ title }}
				</h2>
			</header>
			<main>
				<div class="tab-content">
					<form class="form layout">
						<div class="row">
							<div class="col-md-12">
								<div class="field_description"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="field_visibility"></div>
							</div>
							<div class="col-md-6">
								<div class="field_pinned"></div>
							</div>
						</div>
					</form>
				</div>
			</main>
			<footer>
				<button class="btn btn-primary" type="submit" value="submit">
					{{ title }}
				</button>
				<button class="btn" type="reset" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre">
					Fermer
				</button>
			</footer>
		</div>
	</div>
</section>