<blockquote {{#if status}}class="{{status}}"{{/if}}>
{{#if icon}}
    <span class="icon status {{css_class}}" role="presentation">
        <svg><use href="/static/icons/endi.svg#{{icon}}"></use></svg>
    </span>
{{/if}}
<div>
    {{#if can_edit}}
        <button class="icon only unstyled delete" title="Supprimer ce mémo"
                aria-label="Supprimer ce mémo">
            <svg>
                <use href="/static/icons/endi.svg#times"></use>
            </svg>
        </button>
        <button class="icon only unstyled edit" title="Modifier ce mémo"
                aria-label="Modifier ce mémo">
            <svg>
                <use href="/static/icons/endi.svg#pen"></use>
            </svg>
        </button>
    {{/if}}
{{#if label}}
    <h5>{{label}}</h5>
{{/if}}
{{#if comment}}
    <p>{{formatted_comment}}</p>
{{/if}}
</div>
<footer {{#if visibility}}title="Mémo {{visibility.description}}"{{/if}}>
    {{#if visibility}}
        <span class="icon" role="presentation">
            <svg><use href="/static/icons/endi.svg#{{ visibility.icon }}"></use></svg>
            {{ visibility.label }}
            <span class="screen-reader-text">({{ visibility.description }})</span>
            —
        </span>
    {{/if}}
    {{user}} le {{date}}
</footer>
</blockquote>
