<h4 class="content_vertical_padding">
  {{title}}
</h4>
<table class="top_align_table">
  <tbody>
    <tr>
      <th scope="row" title="{{title}}">
        {{label}}
        {{#if has_hours}}
          ({{hours}}h)
        {{/if}}
      </th>
      <td class="col_number">
        {{{flat_cost}}}
      </td>
    </tr>
    <tr>
      <th scope="row" title="Total des frais généraux">
        Frais généraux
      </th>
      <td class="col_number">
        {{{general_overhead}}}
      </td>
    </tr>
    <tr>
      <th scope="row" title="Total des marges">
        Marges
      </th>
      <td class="col_number">
        {{{margin}}}
      </td>
    </tr>
    <tr>
      <th scope="row" title="Total des marges">
        Contribution
      </th>
      <td class="col_number">
        {{{contribution}}}
      </td>
    </tr>
  </tbody>
</table>