@import 'reset';
@import 'variables';
@import 'themes';
@import 'layout_variables';

// @import 'IE';

// @import 'generic/aside';
@import 'generic/catalogue';
@import 'generic/collapsible';
@import 'generic/entities_choice';
@import 'generic/form';
// @import 'generic/gauges';
@import 'generic/header';
@import 'generic/help';
@import 'generic/layout';
@import 'generic/lists';
@import 'generic/main_content';
@import 'generic/menu';
@import 'generic/modal';
// @import 'generic/notif';
@import 'generic/pager';
@import 'generic/popup';
@import 'generic/table';
@import 'generic/tabs';
@import 'generic/tree_view';
@import 'generic/typo';

// framework-related
@import 'frameworks/jquery';
@import 'frameworks/select2';
@import 'frameworks/tinyMCE';
@import 'frameworks/pdfjs';

// temporary loading before stylesheets are linked to pages

body.endi {
	background: var(--screen-background-color);
	ul {
		list-style-type: square;
		list-style-position: inside;
	}
	dt {
		font-weight: bold;
	}
	h1,
	h2,
	legend,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		svg {
			height: 1em;
			width: 1em;
		}
	}
	h2 small {
		font-weight: normal;
		padding-left: $unitPadding;
		.icon.status {
			margin: 0 0 0 $unitPadding;
		}
	}
	a:link,
	a:visited {
		color: var(--link-color);
		text-decoration: none;
	}
	a:hover,
	a:focus,
	a:active {
		text-decoration: underline;
	}
	a {
		.icon {
			margin-right: .25rem;
		}
	}
	a[href^="mailto"],
	a[href^="tel"] {
		align-items: center;
		display: inline-flex;
		hyphens: none;
		overflow-wrap: anywhere;
		.icon {
			flex: 0 0 1rem;
		}
	}
	.align_right {
		text-align: right;
	}
	.align_center {
		text-align: center;
	}
	.icon {
		display: inline-block;
		position: relative;
		> svg {
			fill: var(--svg-fill-color);
			font-size: 1rem;
			height: 1rem;
			pointer-events: none;
			vertical-align: sub;
			width: 1rem;
			title {
				display: none;
			}
		}
		&.close {
			svg {
				margin: 2px;
			}
		}
		&.big {
			> svg {
				font-size: 2rem;
				height: 2rem;
				width: 2rem;
			}
		}
		&.spin {
			animation: spin_anim 3s linear infinite;
		}
		.bubble {
			background: $funcNegative;
			border-radius: 50%;
			bottom: -3px;
			box-shadow: 0 1px 1px $black;
			display: inline-block;
			color: $white;
			height: 1.5em;
			line-height: 1.5em;
			position: absolute;
			right: -3px;
			text-align: center;
			width: 1.5em;
		}
		&.type {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: contain;
			&.default {
				background-image: url("../icons/caret.svg");
			}
			&.product {
				background-image: url("../icons/box.svg");
			}
			&.group {
				background-image: url("../icons/composite.svg");
			}
			&.training {
				background-image: url("../icons/training.svg");
			}
			&.service {
				background-image: url("../icons/service.svg");
			}
			&.workforce {
				background-image: url("../icons/workforce.svg");
			}
		}
		&.tag {
			align-items: center;
			background: var(--tag-default-background-color);
			border-radius: 3px;
			display: inline-flex;
			font-size: .875rem;
			line-height: 1.2;
			margin: 0 0 .125rem;
			overflow-wrap: break-word;
			padding: .125rem .25rem;
			svg {
				height: .875rem;
				flex: 0 0 .875rem;
				width: .875rem;
			}
			&:not(.only) svg {
				margin-right: $unitPadding;
			}
			&.neutral {
				svg {
					fill: var(--func-neutral-color);
				}
			}
			&.positive {
				background: var(--func-positive-color);
				color: var(--theme-text-color);
				svg {
					fill: var(--theme-text-color);
				}
			}
			&.negative {
				background: var(--func-negative-color);
				color: var(--theme-text-color);
				svg {
					fill: var(--theme-text-color);
				}
			}
			&.caution {
				background: var(--func-caution-color);
				color: var(--svg-invert-fill-color);
				svg {
					fill: var(--svg-invert-fill-color);
				}
			}
			+ .tag {
				margin-left: .25rem;
			}
		}
	}
	a.icon {
		svg {
			margin-right: $unitPadding;
			vertical-align: text-top;
		}
	}
	a.icon:not(.btn):hover > svg,
	a.icon:not(.btn):focus > svg,
	a.icon:not(.btn):active > svg {
		filter: drop-shadow( 0 1px 0 $white);
		fill: $lightGreen;
	}
	.icon.status {
		background: var(--icon-neutral-color);
		border-radius: .25rem;
		display: inline-block;
		height: 1.75rem;
		padding: .3125rem;
		width: 1.75rem;
		svg {
			fill: $white;
			height: 1.125rem;
			margin: 0 !important;
			vertical-align: baseline;
			width: 1.125rem;
		}
		&.big {
			height: 3rem;
			width: 3rem;
			svg {
				height: 2.5rem;
				width: 2.5rem;
			}
		}
		&.success,
		&.valid,
		&.completed {
			background: $funcPositive;
		}
		&.caution,
		&.wait,
		&.danger {
			background: $funcCaution;
		}
		&.partial_unpaid {
			background: linear-gradient(160deg, $funcPositive 0%, $funcPositive 50%, $funcCaution 51%, $funcCaution 100%);
		}
		&.error,
		&.invalid,
		&.cancelled,
		&.failed,
		&.unpaid {
			background: $strongFuncNegative;
		}
		&.draft,
		&.closed {
			background: var(--icon-neutral-color);
		}
		&.disabled,
		&.private {
			background: $lightGrey;
		}
		&.neutral,
		&.planned {
			background: var(--func-neutral-color);
		}
		&.mode {
			barckground: var(--theme-color);
			svg {
				fill: var(--theme-text-color);
			}
		}
	}
	h2 .icon.status {
		svg {
			vertical-align: text-top;
		}
	}
	p .icon svg {
		vertical-align: baseline;
	}
	svg {
		&.neutral {
			fill: var(--func-neutral-color);
		}
		&.error,
		&.invalid {
			fill: $funcNegative;
		}
		&.caution {
			fill: $funcCaution;
		}
		&.success,
		&.valid {
			fill: $funcPositive;
		}
	}
	.user_avatar {
		align-items: center;
		background: var(--theme-color);
		border-radius: 50%;
		clip-path: circle(1.5rem);
		display: flex;
		flex: 0 0 3rem;
		height: 3rem;
		justify-content: center;
		margin-right: 5px;
		overflow: hidden;
		width: 3rem;
		img {
			height: auto;
			max-height: 100%;
			max-width: 100%;
			width: auto;
		}
		svg {
			height: 2.25rem;
			fill: var(--theme-text-color);
			margin: .75rem .375rem 0;
			width: 2.25rem;
		}
		+ h3 {
			align-self: center;
		}
	}
	.layout.flex .user_avatar + div {
		align-self: center;
	}
	.badge {
		background: var(--theme-color);
		border-radius: 25%;
		color: var(--theme-text-color);
		display: inline-block;
		font-size: .75rem;
		font-weight: bold;
		line-height: 1.25rem;
		text-align: center;
		width: 1.25rem;
	}
	.access_tools {
		background: var(--form-input-background-color);
		box-shadow: 0 0 5px var(--box-shadow-color);
		margin-left: -25rem;
		padding: $unitPadding;
		position: absolute;
		transition: transform .15s ease-out;
		max-width: 20rem;
		z-index: $aboveMaskLayer;
		a {
			align-items: flex-start;
			color: var(--link-color);
			display: flex;
			font-size: 1rem;
			font-weight: bold;
			justify-content: space-between;
			line-height: 1.125rem;
			margin-bottom: 2px;
			padding: 2px;
			text-decoration: none;
			> span {
				flex: 1 1 auto;
			}
			em {
				color: var(--text-greyed-color);
				flex: 0 0 1em;
				font-style: normal;
				font-weight: normal;
				margin-top: 2px;
				text-align: center;
			}
			&.no_desktop {
				display: none;
			}
		}
		a:hover,
		a:focus,
		a:active {
			span {
				text-decoration: underline;
			}
		}
		&:focus,
		&:focus-within,
		&:target {
			transform: translate( 25rem );
		}
		span.menu_mini {
			display: none;
		}
		span.menu_maxi {
			display: inline;
		}
	}
	&.menu_mini .access_tools {
		span.menu_mini {
			display: inline;
		}
		span.menu_maxi {
			display: none;
		}
	}
	.more_info {
		background: var(--screen-background-color);
		box-shadow: 0 4px 6px $midGrey;
		display: none;
		max-width: 90vw;
		padding: 5px;
		position: absolute;
		z-index: $actionLayer;
		width: max-content;
		&.open {
			display: block;
		}
		h4 {
			align-items: center;
			display: flex;
			justify-content: space-between;
			.icon {
				align-self: flex-start;
			}
		}
	}
	&.preload * {
		transition: none !important;
	}
	.loading_box {
		align-items: center;
		background: $transBlack;
		bottom: 0;
		display: flex;
		justify-content: center;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: $spinner;
		svg {
			animation: spin_anim 3s linear infinite;
			height: 8rem;
			width: 8rem;
			fill: $white;
		}
	}
	.text_block {
		margin: $unitPadding 0;
		padding: $unitPadding*2 0;
	}
	hr {
		border: 1px solid $fadedGrey;
		border-width: 1px 0 0;
	}
	.separate_top {
		border-top: 1px solid $fadedGrey;
		margin-top: $unitPadding*4;
	}
	.separate_bottom {
		border-bottom: 1px solid $fadedGrey;
		margin-bottom: $unitPadding*4;
	}
	.separate_top_dashed {
		border-top: 1px dashed $fadedGrey;
		margin-top: $unitPadding*2;
	}
	.separate_bottom_dashed {
		border-bottom: 1px dashed $fadedGrey;
		margin-bottom: $unitPadding*2;
	}
	.space_top {
		margin-top: $unitPadding*2;
	}
	.space_bottom {
		margin-bottom: $unitPadding*2;
	}
	.separate_block {
		box-shadow: 0 2px 4px var(--box-shadow-color);
		margin-bottom: $unitPadding*4;
	}
	.private .separate_block {
		box-shadow: 0 0 2px var(--box-shadow-color);
	}
	.separate_block.composite {
		.border_left_block {
			margin-bottom: 1px;
		}
		.border_left_block.composite,
		.border_left_block ~ .border_left_block {
			border-top: 1px dashed var(--border-color);
			box-shadow: 0 -1px 1px  var(--box-shadow-color);
		}
	}
	.content_padding {
		padding: $unitPadding;
	}
	.content_double_padding {
		padding: $unitPadding*2;
	}
	.content_vertical_padding {
		padding: $unitPadding 0;
	}
	.content_vertical_double_padding {
		padding: $unitPadding*2 0;
	}
	.content_horizontal_padding {
		padding: 0 $unitPadding;
	}
	.content_horizontal_double_padding {
		padding: 0 $unitPadding*2;
	}
	.border_left_block {
		border-left: $unitPadding solid var(--theme-color);
	}
	.private .border_left_block {
		border-left-color: var(--border-color);
	}
	.status_block {
		color: $white;
		font-weight: bold;
		&.positive {
			background: $funcPositive;
		}
		&.negative {
			background: $funcNegative;
		}
		&.caution {
			background: $funcCaution;
		}
	}
	.activity-total,
	.internal-total {
		background: var(--message-info-background-color);
		margin: 0 0 $unitPadding*2;
		padding: $unitPadding;
	}
	.grand-total {
		background: var(--message-info-background-color);
		margin: $unitPadding*2 0;
		padding: $unitPadding;
		.layout.flex {
			justify-content: space-between;
			> div {
				flex: 1 1 auto;
				margin-right: $unitPadding*2;
			}
			> div:last-child {
				flex: 0 1 auto;
				margin-right: 0;
			}
		}
		.icon:not(.status) {
			svg {
				height: 1.25rem;
				width: 1.25rem;
			}
			&.error svg {
				fill: var(--func-negative-color);
			}
			&.caution svg {
				fill: var(--func-caution-color);
			}
		}
		.icon.status {
			margin: $unitPadding 0;
		}
		.btn.unstyled {
			margin-top: -$unitPadding;
			vertical-align: middle;
		}	
	}
	.totals.form-section{
		display: flex;
		justify-content: flex-end;
		.layout.flex {
			width: 12em;
			> div:nth-child(2n + 1) p {
				padding-top: 2px;
			}
			> div:nth-child(2n) p {
				text-align: right;
			}
		}
		&.business_expenses {
			.layout.flex {
				width: 26em;
			}
		}
		ul {
			margin-left: $unitPadding*2;
		}
	}
	p.math_formula {
		padding: $unitPadding;
		white-space: nowrap;
		&.denominator {
			border-top: 1px solid var(--border-color);
		}
	}
	.vanishable:empty {	/* out of flow when empty */
		display: none;
	}
	.print-only {
		display: none !important;
    }
	.dropzone {
		align-items: center;
		border: 1px dashed var(--border-color);
		cursor: pointer;
		margin: $unitPadding*2 0;
		padding: $unitPadding*2;
		text-align: center;
		.icon {
			margin: 1rem auto;
			svg {
				height: $iconSize;
				width: $iconSize;
			}
		}
	}
	.print-hint {
		display: none !important;
	}
	span.hidden_pdf,
	small.hidden_pdf,
	td.hidden_pdf,
	th.hidden_pdf,
	tr.hidden_pdf td:not(.empty):not(.level_spacer):not(.col_actions),
	tr.hidden_pdf th:not(.empty):not(.level_spacer):not(.col_actions) {
		background: repeating-linear-gradient( -45deg, transparent 0, transparent 4px, var(--screen-shaded-background-color) 5px, transparent 6px, transparent 10px );
		color: var(--text-greyed-color);
	}

	.screen-reader-text {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute !important;
		width: 1px;
		word-wrap: normal !important;
	}
	.screen-reader-text:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
		clip: auto !important;
		clip-path: none;
		color: #21759b;
		display: block;
		font-size: .875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
	}
// hiding content except for accessibility devices, often use to be replaced by generated content (icons)
	.visuallyhidden {
		border: 0 none !important;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	.visuallyhidden.focusable:active,
	.visuallyhidden.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
	@-webkit-keyframes appear_anim {
		0% {
			display: block;
			opacity: 0;
			transform: scale(.75);
			visibility: visible;
		}
		5% {
			opacity: 0;
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
	@keyframes appear_anim {
		0% {
			display: block;
			opacity: 0;
			transform: scale(.75);
			visibility: visible;
		}
		5% {
			opacity: 0;
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
	@-webkit-keyframes dismiss_anim {
		0% {
			opacity: 1;
			transform: scale(1);
		}
		95% {
			opacity: 0;
		}
		100% {
			display: none;
			opacity: 0;
			transform: scale(.75);
			visibility: hidden;
		}
	}
	@keyframes dismiss_anim {
		0% {
			opacity: 1;
			transform: scale(1);
		}
		95% {
			opacity: 0;
		}
		100% {
			display: none;
			opacity: 0;
			transform: scale(.75);
			visibility: hidden;
		}
	}
	@-webkit-keyframes spin_anim {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(360deg);
		}
	}
	@keyframes spin_anim {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
@media ( max-width: $desktopWidth ) {
	body.endi {
		.access_tools a.no_tablet {
			display: none;
		}
		.access_tools a.no_desktop {
			display: flex;
		}
	}
}
@media ( max-width: $tabletWidth ) {
	body.endi {
		.grand-total {
			.layout.flex {
				> div:nth-child( n + 2 ) {
					margin-top: $unitPadding;
				}
				> div:empty {
					display: none;
					+ div {
						margin-top: 0;
					}
				}
			}
		}
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi {
		.icon .bubble {
			bottom: 2px;
			font-size: .825rem;
			height: 1.75em;
			line-height: 1.75em;
			right: 2px;
			width: 1.75em;
		}
		.separate_block {
			margin-left: -( $unitPadding );
			margin-right: -( $unitPadding );
		}
		.border_left_block {
			max-width: 100vw;
			width: 100vw;
			overflow-x: auto;
		}
	}
}

@media print { // styles used when printing pages
	@page {
		margin: 1cm;
	}
	html,
	body {
		overflow: visible;
		page-break-after: avoid;
	}
	body.endi {
		background: $white;
		color: $black;
		font-size: 10pt;
		max-width: 100%;
		overflow: visible;
		page-break-after: avoid;
		.base_layout,
		.base_content {
			overflow: visible;
		}
		.base_layout.layout.flex {
			display: block;
			height: auto;
			overflow: visible;
			page-break-after: avoid;
		}
		.base_content.layout.flex {
			display: block;
			outline: none;
			padding: $print_unitPadding/2;
		}
		.main_area,
		.main_area > main,
		.main_content {
			display: block;
			height: auto;
			overflow: visible;
			page-break-after: avoid;
			max-width: 100%;
			padding: 0;
			width: 100%;
		}
		.main_header {
			height: auto;
			padding: 0;
			.header_content {
				overflow: visible;
				> div {
					overflow: visible;
				}
			}
			h1 {
				overflow: visible;
				white-space: normal;
				.icon {
					display: none;
				}
			}
		}
		.content {
			width: 100%;
		}
		h1 {
			font-size: 14pt;
		}
		h2 {
			font-size: 13pt;
		}
		h3 {
			font-size: 12pt;
		}
		h4,
		h5,
		h6 {
			font-size: 11pt;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		.keep_with_next {
			page-break-after: avoid;
		}
		ul {
			page-break-inside: avoid;
		}
		.table_container {
			display: contents !important;
			height: auto;
			margin: 0;
			overflow-x: visible;
			padding: $print_unitPadding/2 $print_unitPadding/4 $print_unitPadding*4 !important;
			width: 100% !important;
			thead {
				position: static;
			}
		}
		table {
			page-break-inside: auto;
			tr {
				page-break-inside: avoid;
				page-break-after: auto;
			}
			thead {
				display: table-header-group;
				page-break-after: avoid;
			}
			tfoot {
				display: table-footer-group;
				page-break-before: avoid;
			}
			th,
			td {
				font-size: 10pt;
			}
		}
		.tab-content {
			border: 0 none !important;
			height: auto;
			overflow: visible;
			padding: $print_unitPadding 0;
			page-break-after: avoid;
			width: 100%;
		}
		.nav-tabs,
		.dropzone {
			display: none;
		}
		.tab-content .tab-pane {
			display: block !important;
			visibility: visible !important;
		}
		.hidden-print {
			display: none !important;
		}
		.print-only {
			display: block !important;
		}
		.nav-pills,
		button,
		.btn,
		.col_actions,
		.main_toolbar {
			display: none !important;
		}
	}
}

