<div class='separate_block composite'>
	<div class='border_left_block'>
		<h2 class="title">Liste des produits</h2>
		<div class='group-errors'></div>
	</div>
	<div class='group-container'></div>
	<div class='group-modalregion'></div>
	<div class='border_left_block'>
	{{#if can_add}}
		<div class='actions content_double_padding align_right'>
			<button class='btn add' type='button' title='Ajouter un bloc composé de plusieurs produits que vous pourrez différencier par un titre et une description' aria-label='Ajouter un bloc composé de plusieurs produits que vous différencier par un titre et une description'>
				<svg><use href="/static/icons/endi.svg#plus"></use></svg>
				Ajouter un produit composé
			</button>
		</div>
	{{/if}}
	</div>
</div>