<form class='form layout'>
    <div class='row'>
        <div class='date required col-md-6'></div>
        <div class='category col-md-6'></div>
    </div>
    <div class='type_id required'></div>
    <div class='description required'></div>
    <div class='row'>
        <div class='ht col-md-6'></div>
        <div class='tva col-md-6'></div>
    </div>
    <div class='business_link'></div>
    <button
        class='btn btn-success'
        type='submit'
        value='submit'>
        {{ title }}
    </button>

    <button
        class='btn btn-default secondary-action'
        type='reset'
        value='submit'>
        Fermer
    </button>
</form>
