<form class='form layout'>
    <div class='row form-row'>
        <div class='date required col-md-6'></div>
        <div class='category col-md-6'></div>
    </div>
    <div class='type_id required'></div>
    <div class='description required'></div>
    <div class='row form-row'>
        <div class='ht col-md-6'></div>
        <div class='tva col-md-6'></div>
    </div>
    <div class='business_link'></div>
    <button
        class='btn btn-primary btn-success'
        type='submit'
        value='submit'>
        {{ title }}
    </button>
    <button
        class='btn'
        type='reset'
        value='submit'>
        Fermer
    </button>
</form>
