<h1>{{label}}</h1>
<div class="popup_content">
	<div class='content_vertical_padding'>
		<dl class="dl-horizontal">
			<dt>Identifiant de la tâche</dt><dd>{{ jobid }}</dd>
			<dt>Initialisée le</dt><dd>{{ created_at }}</dd>
			<dt>Mise à jour le</dt><dd>{{ updated_at }}</dd>
		</dl>
	</div>
	<div class='content_vertical_padding separate_bottom'>
	{{#if waiting }}
        <div class="alert status">
            <span class="icon big"><svg><use href="/static/icons/endi.svg#clock"></use></svg></span>
            <p>
	            <b>La génération des fichiers est en attente de démarrage</b>
            </p>
        </div>
	{{else}}
    	{{#if running}}
        <div class="alert status alert-info">
            <span class="icon big spin"><svg><use href="/static/icons/endi.svg#cog"></use></svg></span>
            <p>
	            <b>La génération des fichiers est en cours</b>
            </p>
        </div>
	    {{else}}
    	    {{#if failed}}
        <div class="alert status alert-danger">
            <span class="icon big"><svg><use href="/static/icons/endi.svg#danger"></use></svg></span>
            <p>
	            <b>La génération des fichiers a échoué</b>
            </p>
        </div>
        	{{else}}
        <div class="alert status alert-success">
             <span class="icon big"><svg><use href="/static/icons/endi.svg#check"></use></svg></span>
            <p>
	            <b>La génération des fichiers est terminée</b>
            </p>
        </div>
			{{/if}}
		{{/if}}
	{{/if}}
	</div>
{{#if finished}}
	<div class='content_vertical_padding'>
		<div class='layout flex two_cols'>
            <div>
                {{#each messages}}
                <h3>{{this}}</h3>
                {{/each}}
                <h4>Les fichiers suivants ont été générés</h4>
                <table class="full_width">
                    <thead>
                    <tr>
                        <th scope="col" class="col_text">Fichier</th>
                        <th scope="col" class="col_text">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    {{#each results_list}}
                        <tr>
                            <td class="col_text">{{name}}</td>
                            <td class="col_text">
                                {{#if regenerated}}Re-généré{{else}}Généré{{/if}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
			<div>
				<h4>Avertissements</h4>
                <p>
                    {{err_message}}
                </p>
				{{^has_err_message }}
				<em>Aucune erreur n’a été retournée</em>
				{{/has_err_message }}
			</div>
	    </div>
	</div>
{{/if}}
</div>
