<form>
    <fieldset>
        <div class='combination'>
        </div>
        <div class='layout flex'>
        <div class='form-group selector'></div>
            <div class='form-group method'></div>
            <div class='form-group search1'></div>
            <div class='form-group search2'></div>
        </div>
    </fieldset>
    <div class='delbutton-container'></div>
    <ul><li class='add_line addbutton-container'></li></ul>
</form>