// lists

body.endi .main_area {
	ul:not(.nav) ul {
		margin-left: $unitPadding*6;
	}
	li {
		padding-bottom: $unitPadding;
		&.clickable-row {
			cursor: pointer;
		}
	}
	ul.company_employees {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		li {
			display: inline-block;
			display: inline block;
			padding-right: $unitPadding;
		}
		.user_avatar {
			display: inline-flex;
			display: inline flex;
			vertical-align: middle;
		}
		small {
			white-space: nowrap;
		}
	}
	ul.list_count {
		counter-reset : list-counter;
		list-style-type: none;
		li {
			display: block;
			padding: $unitPadding 1rem $unitPadding 2rem;
			position: relative;
			&::before {
				background: var(--svg-fill-color);
				border-radius: 25%;
				color: var(--svg-invert-fill-color);
				counter-increment: list-counter;
				content: counter(list-counter);
				display: inline-block;
				font-size: .75rem;
				left: 0;
				line-height: 1.25rem;
				position: absolute;
				text-align: center;
				vertical-align: baseline;
				width: 1.25rem;
			}
		}
		+ a {
			margin-top: $unitPadding;
		}
	}
	ul.no_bullets {
		list-style-type: none;
		li {
			padding-bottom: $unitPadding*2;
		}
	}
	ul.reference_links {
		font-size: .75rem;
		list-style-type: none;
		padding-top: 2px;
		li {
			padding: 0;
		}
	}
	.context_help ul {
		margin: $unitPadding;
	}
	ul.document_summary {
		column-count: 2;
		column-width: 15em;
		li {
			break-inside: avoid;
		}
	}

	table td.col_text:not(.rich_text) ul {
		list-style-type: none;
		text-align: left;
		li:only-child {
			padding: 0 2px;
		}
		li:not(:only-child) {
			&::before {
				content: "-\A0"; // tiret et espace insécable
			}
		}
		li a {
			display: inline;
		}
		li .icon:not(.tag) {
			vertical-align: .125rem;
		}
		&.file_list {
			li {
				display: flex;
				hyphens: none;
				&::before {
					flex: 0 0 auto;
				}
				a {
					display: block;
					display: -webkit-box;
					flex: 1 1 auto;
					line-clamp: 1 "…";
					overflow: hidden;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
				}
			}
		}
	}

	table td.col_text.rich_text ul {
		list-style-position: outside;
		margin-left: $unitPadding*4;
		ul {
			margin-left: $unitPadding*5;
		}
		li:first-child {
			padding-top: 2px;
		}
		li:last-child {
			padding-bottom: 0;
		}
	}
	dl.dl-horizontal {
		dt,
		dd {
			display: block;
			float: left;
			line-height: 1.25em;
			margin-bottom: $unitPadding*.5;
		}
		dd .icon.status {
			margin-bottom: $unitPadding;
			margin-top: -$unitPadding;
			vertical-align: text-top;
		}
		dt:not(.horizontal) {
			clear: left;
			text-align: right;
			width: 12em;
			&::after {
				content: "\A0:";
			}
			+ dd {
				border-top: 1px solid transparent;
				margin-left: 1em;
				max-width: calc( 100% - 13em);
			}
		}
		dt.horizontal {
			margin-left: 1em;
			+ dd {
				margin-left: .5em;
			}
		}
		&::after {
			clear: left;
			content: " ";
			display: block;
		}
	}
	.main_actions dl.dl-horizontal {
		font-size: .825rem;
		dt,
		dd {
			padding-bottom: 0;
		}
	}
	.data_display {
		dl {
			column-count: 2;
			column-width: 15em;
			margin: $unitPadding 0;
			> div {
				break-inside: avoid;
				display: inline-block;
				width: 100%;
			}
		}
		dt {
			display: inline-block;
		}
		dd {
			display: inline;
			margin-left: $unitPadding;
			break-before: avoid;
			&:after {
				content: "\A";
				display: block;
				line-height: .2;
				white-space: pre;
			}
		}
	}
	.layout.two_cols > .document_summary {
		+ .folders {
			flex: 0 1 25em;
			padding: $unitPadding;
			table thead th[scope="col"] {
				height: auto;
			}
		}
	}
}
@media ( max-width: $wideWidth ) {
	body.endi .main_area {
		.main_actions dl.dl-horizontal {
			dt {
				width: 8em;
			}
		}
	}
}
@media ( min-width: $tabletWidth ) {
	body.endi .main_area {
		ul.company_employees li {
			flex: 0 0 18em;
		}
		.main_actions dl.dl-horizontal {
			padding-top: $unitPadding;
		}
	}
}
@media ( max-width: $tabletWidth ) {
	body.endi .main_area {
		ul.company_employees li {
			flex: 0 0 50%;
		}
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi .main_area {
		ul.company_employees li {
			flex: 0 0 100%;
		}
		dl.dl-horizontal {
			dt:not(.horizontal) {
				max-width: 50vw;
				+ dd {
					max-width: calc( 50vw - 1em );
				}
			}
		}
	}
}
