<section class="size_large">
  <div
    role="dialog"
    id="work-forms"
    aria-modal="true"
    aria-labelledby="work-forms_title"
  >
    <form name="current">
      <div class="modal_layout">
        <header>
          <button
            class="icon only unstyled close"
            title="Fermer cette fenêtre"
            aria-label="Fermer cette fenêtre"
            type="button"
          >
            <svg>
              <use href="/static/icons/endi.svg#times"></use>
            </svg>
          </button>
          <h2 id="work-forms_title">
            Modifier un ouvrage
          </h2>
        </header>
        <main>
          <div class="errors"></div>
          <fieldset>
            <div class="field-title"></div>
            <div class="field-description"></div>
            <div class="field-display_details"></div>
            <div class="field-general_overhead"></div>
            <div class="field-margin_rate"></div>
            <div class="field-quantity"></div>
            <div class="field-unity"></div>
            <div class="field-tva_id"></div>
            <div class="field-product_id"></div>
          </fieldset>
        </main>
        <footer>
          <button class="btn btn-primary icon" type="submit" value="submit">
            <svg>
              <use href="/static/icons/endi.svg#save"></use>
            </svg>
            Valider
          </button>
          <button class="btn" type="reset" value="cancel">
            Annuler
          </button>
        </footer>
      </div>
    </form>
  </div>
</section>